<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), class: 'button is-link is-rounded btn' do %>
      <span class="icon">
        <% if OmniAuth::Utils.camelize(provider) == 'Facebook' %>
          <i class="fa fa-facebook" aria-hidden="true"></i>
        <% elsif OmniAuth::Utils.camelize(provider) == 'Google' %>
          <i class="fa fa-google" aria-hidden="true"></i>
        <% end %>
      </span>
      <span>Login with <%= OmniAuth::Utils.camelize(provider) %></span>
    <% end %>
  <% end %>
<% end %>
