<div class="column is-half">
  <% if user_signed_in? %>
    <article class='media box'>
      <figure class='media-left'>
        <p class='image is-64x64'>
          <% if current_user.image == nil %>
            <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
          <% else %>
            <img src=" <%= current_user.image %>" alt="avatar">
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <%= render 'tweeets/form' %>
      </div>
    </article>
  <% end %>

  <div id='tweeet'>
    <%= render @tweeets %>
  </div>
</div>
