<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src='https://camo.githubusercontent.com/29f068d6a4d00f098c82001b44a93a830b3e36b5/687474703a2f2f7777772e67726176617461722e636f6d2f6176617461722f30633832316636373566313332643739306233663235653739646137333961373f64656661756c743d77617661746172'>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>John Smith</strong>
              <small>@johnsmith</small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src='https://camo.githubusercontent.com/29f068d6a4d00f098c82001b44a93a830b3e36b5/687474703a2f2f7777772e67726176617461722e636f6d2f6176617461722f30633832316636373566313332643739306233663235653739646137333961373f64656661756c743d77617661746172'>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>John Smith</strong>
              <small>@johnsmith</small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <br>
    <a class="who button is-info btn">
      <span class="icon">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </span>
      <span>Twitter</span>
    </a>
  </nav>
</div>
