<% flash.each do |type, msg| %>
  <% if type == "notice" %>
    <script >
      Swal.fire({
        title: '<%= msg %>',
        type: 'success',
        timer: 1500
      })
    </script>
  </div>
  <% elsif type == "alert" %>
    <script >
      Swal.fire({
        title: '<%= msg %>',
        type: 'alert',
        timer: 1500
      })
    </script>
  <% end %>
<% end %>
