.navbar-brand .title {
  color: white;
}

// round image
.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.gg {
  margin: 0 0 0 1.5rem;
}